* {
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

input,
button {
    all: unset;
}

html::-webkit-scrollbar {
    width: 8px;
}
html::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
    border-color: 1px solid #FFF;
}

.elipse {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(155deg,hsla(30,14%,91%,0),hsla(30,14%,91%,0) 50%,hsla(0,0%,100%,.1));
    border-radius: 0 0 50% 50%;
    height: 60%;
    width: 120%;
    padding: 0 3rem 3rem;
}
.elipse::after {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(155deg,hsla(30,14%,91%,0),hsla(30,14%,91%,0) 50%,hsla(0,0%,100%,.1));
    border-radius: 0 0 50% 50%;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg,rgb(212, 149, 92),rgb(171, 120, 73));
    color: #FFFFFF;
    text-align: center;
    overflow: hidden;
    border-radius: 0 0 44px 44px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

header .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    
    padding: 1rem;
}

.title-page {
    background: linear-gradient(90deg, rgba(6,6,6,1) 0%, rgba(59,57,56,1) 100%);
    display: block;
    padding: 1rem 3rem;
    border-radius: .75rem;
    font-size: .75rem;
}

header h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

header img {
    width: 200px;
    margin: 0 auto;
}

header p {
    font-size: .75rem;
    font-weight: 300;
    letter-spacing: .05rem;
    line-height: 1.5rem
}

main {
    display: flex;
    flex-direction: column;
    color: gray;
    padding: 2rem 2rem;
    height: 90vh;
}


form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: .8rem;
    height: 100%;
    justify-content: space-between;
    font-size: .8rem;
}

form .section-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-title {
    margin-bottom: .25rem;
    border-bottom: 1px solid lightgray;
}

.form-title h1 {
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 4rem;
}

.form-title span {
    font-size: .8rem;
    font-weight: 400;
    line-height: 1rem;
}

.input-wrapper {
    background-color: #efefef;
    border: 3px solid #efefef;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    cursor: pointer;
    transition: border .2s;
}

.input-wrapper.error,
.checkbox-wrapper.error {
    transition: .2s;
    border: 3px solid rgba(255, 0, 0, .5);
}

.input-wrapper.sucess,
.checkbox-wrapper.sucess {
    transition: .2s;
    border: 3px solid rgba(40, 167, 69, .5);
}

.input-wrapper label {
    padding: .5rem 1rem 0;
    cursor: pointer;
}

.input-wrapper input {
    padding: .75rem 1.5rem .5rem;
}

.input-wrapper input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 40px #efefef inset;
}

.input-wrapper:has(input:focus) {
    border: 3px solid #80bdff;
}

.input-wrapper input::placeholder {
    color: #b9b9b9;
}

button {
    border-radius: 8px;
    color: #FFFFFF;
    margin-top: 4rem;
    padding: 1.225rem;
    font-size: 1rem;
    text-align: center;
    transition: background-color .2s;
}

.checkbox-wrapper {
    position: relative;
}

.checkbox-wrapper label {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

.checkbox-wrapper input {
    position: absolute;
    top: 0;
    left: 0;
}

.checkbox-wrapper label::before {
    content: "";
    display: flex;
    height: 10px;
    width: 10px;
    background-color: #efefef;
    border: 3px solid #efefef;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    transition: border .2s;
}

.checkbox-wrapper input:checked + label::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="M378-246 154-470l43-43 181 181 384-384 43 43-427 427Z" fill="rgb(231, 165, 114)"/></svg>');
    color: red;
    background-repeat: no-repeat;
    background-size: contain;
}

.checkbox-wrapper input:focus + label::before {
    border: 3px solid #80bdff;
}

.checkbox-wrapper input:checked + label::before {
    border: 3px solid rgba(40, 167, 69, .5);
}

button[type="submit"] {
    margin-top: 10rem;
    cursor: pointer;
    background-color: green;
    border: 3px solid green;
}

button[type="submit"]:hover {
    background-color: #019601;
}
button[type="submit"]:focus {
    background-color: #019601;
    border: 3px solid #80bdff;
}

button[disabled],
button[disabled]:hover {
    background-color: gray;
    border: 3px solid gray;
    cursor: no-drop;
}

@media screen and (max-width: 1023.9px) {
    header {
        height: 90vh;
    }
    
    header::after {
        content: "";
        position: absolute;
        bottom: 1rem;
        height: .25rem;
        width: 7rem;
        background-color: #FFF;
        border-radius: 6px;
    }
}


@media screen and (min-width: 1024px) {
    body {
        display: flex;
        height: 100vh;
        /* align-items: stretch; */
    }
    
    header {
        width: 40%;
        border-radius: 0 0 12% 0;
    }

    main {
        /* align-self: center; */
        padding: 4rem 2.5rem;
        display: flex;
        flex-direction: column;
        height: 100vh
    }

    button[type="submit"] {
        margin-top: 0;
    }
}