* {
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    margin: 4rem 0 2rem;
}

.table-container {
    width: 70%;
    border-radius: 12px;
    overflow: hidden;
}
.table-container .header,
.table-container .content {
    padding: 1rem;
}
.table-container .item-content .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 232, 209);
}

.table-container .header .names,
.table-container .money-credits .credit {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: .875rem;
}
.table-container .header i {
    padding: .25rem;
    border-radius: 50%;
    cursor: pointer;
    transition: ease-out .2s;
}
.table-container .header i:hover {
    background-color: black;
    color: #FFF;
}
i:hover:has(.item-content .content:first-child) {
    background-color: red;
}

.table-container .money-credits {
    display: flex;
    gap: 2rem;
}
.table-container .money-credits .credit p {
    font-weight: 500;
}

.table-container .content {
    display: flex;
    font-size: .75rem;
    gap: 8rem;
    box-shadow: inset 0 10px 10px -10px rgba(0,0,0, .5);
}

.table-container .content-box {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: .5px dashed lightgray;
}

.table-container .item-data {
    line-height: 1.25rem;
}
.table-container .content-box span {
    font-size: .625rem;
}
.table-container .content-box p {
    font-weight: 500;
}
