* {
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

input,
button {
    all: unset;
}

body {
    position: relative;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-image: url("../images/aerial-view-on-agro-silos-granary-elevator-on-agro-2022-11-07-03-54-40-utc\ \(1\).png");
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

header .content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 700px;
    background-color: #00000f;
    border-radius: 8px;
}

header .content > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 348px;
}

.title-page {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    background-image: linear-gradient(45deg, #297813, #4ceb20);
    display: block;
    padding: 1rem 3rem;
    border-radius: .75rem;
    /* margin-bottom: 3rem; */
    font-size: .75rem;
}

header h2 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-bottom: 3rem;
}

header .img-animation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 11rem;
}

header .img-animation .shadow {
    width: 8rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .4);
}

header .result-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

header .result-item {
    display: flex;
    flex-direction: column;
    transition: transform .1s;
    cursor: pointer;
}
header .result-item:hover {
    transform: scale(1.05);
}

header .result-item span {
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
    display: block;
    width: 100%;
}

header .result-item p {
    align-self: flex-end;
    width: 100%;
    padding: .5rem .5rem;
    border: 1px solid #FFF;
    border-radius: 8px;
    font-size: 1.75rem;
    font-weight: 500;
    background-color: #020C16;
}
header .result-item p::before {
    content: "R$";
    padding-right: .5rem;
    font-size: 1rem;
}

header .content > div > p {
    font-size: 1.5rem;
    font-weight: 700;
    animation: brightness-text 3s linear infinite;
}

header .content .buttons {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    display: flex;
    justify-content: center;
    gap: 1rem;
}
header .content .buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 1rem;
    width: 9rem;
    color: #FFF;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    background-image: linear-gradient(45deg, #2d8615, #4ceb20);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0, .5);
    transition: all .1s;
}
header .content .buttons a:nth-child(2) {
    background-image: linear-gradient(-90deg, rgb(8, 0, 125) 0%, rgb(14, 0, 122) 50%, rgb(4, 0, 62) 100%);
}
header .content .buttons a:hover {
    filter: brightness(1.15);
}

@keyframes brightness-text {
    0% {
        text-shadow: 0 0 30px lightcyan;
    }
    50% {
        text-shadow: 0 0 0 lightcyan;
    }
    100% {
        text-shadow: 0 0 30px lightcyan;
    }
}

@media screen and (max-width: 1023.9px) {
    header::after {
        /* content: ""; */
        position: absolute;
        bottom: 1rem;
        height: .25rem;
        width: 7rem;
        background-color: #FFF;
        border-radius: 6px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        display: flex;
        align-items: stretch;
        height: 100vh;
    }
    header {
        height: 100vh;
        /* width: 40%; - Desativado somente até o evento - Anderson.*/
        width: 100%;
        /* border-radius: 0 0 12% 0; - Desativado somente até o evento - Anderson.*/
    }

    main {
        width: 50%;
    }

    main .logo-company .logo {
        width: 500px;
    }

    main .contact {
        margin: 5rem 1.5rem 0;       
    }
    
}