* {
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

input,
button {
    all: unset;
}

body {
    position: relative;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    /* height: 90vh; - Desativado somente até o evento - Anderson.*/
    height: 100vh;
    padding: 1rem;
    background: linear-gradient(90deg, rgba(6,6,6,1) 0%, rgb(38, 104, 38));
    color: #FFFFFF;
    text-align: center;
    overflow: hidden;
    /* border-radius: 0 0 44px 44px; - Desativado somente até o evento - Anderson.*/
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.elipse {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(155deg,hsla(30,14%,91%,0),hsla(30,14%,91%,0) 50%,hsla(0,0%,100%,.1));
    border-radius: 0 0 50% 50%;
    height: 60%;
    width: 120%;
    padding: 0 3rem 3rem;
}
.elipse::after {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(155deg,hsla(30,14%,91%,0),hsla(30,14%,91%,0) 50%,hsla(0,0%,100%,.1));
    border-radius: 0 0 50% 50%;
}

header .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
}

.title-page {
    background-color: #e7a572;
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
    border-radius: .25rem;
    margin-bottom: 3rem;
}
.title-page h1 {
    font-weight: 500;
}

.title-page img {
    width: 60px;
}

header .content .message {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 300;
}

header .content p {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    animation: brightness-text 3s linear infinite;
}

header .content .buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
header .content .buttons a {
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;
    width: 9rem;
    justify-content: center;
    color: #FFF;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem;
    background-image: linear-gradient(90deg, rgba(6,6,6,1) 0%, rgba(59,57,56,1) 100%);
    border-radius: 10px;
    z-index: 0;
    box-shadow: 0 0 10px rgba(0,0,0, .5);
}
header .content .buttons a:nth-child(2) {
    background-image: linear-gradient(-90deg, rgb(8, 0, 125) 0%, rgb(14, 0, 122) 50%, rgb(4, 0, 62) 100%);
}
header .content .buttons a::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(270deg, rgba(6,6,6,1) 0%, rgba(59,57,56,1) 100%);
    z-index: -1;
    border-radius: 10px;
    transition: opacity .2s ease-out;
    opacity: 0;
}
header .content .buttons a:hover::before {
    opacity: 1;
}


@keyframes brightness-text {
    0% {
        text-shadow: 0 0 30px lightcyan;
    }
    50% {
        text-shadow: 0 0 0 lightcyan;
    }
    100% {
        text-shadow: 0 0 30px lightcyan;
    }
}

main {
    position: relative;
    padding: 3rem 2rem;
    color: rgb(79, 79, 79);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

main .logo-company {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    width: 100%;
    height: 100%;
}
main .logo-company .logo {
    opacity: .1;
    width: 300px;
}

main .main-content {
    z-index: 0;
}
main h1 {
    margin-bottom: 3rem;
}
main p {
    font-size: 1.25rem;
}
main p span {
    font-weight: 700;
}

main .contact {
    position: relative;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 18rem;
    margin: 3rem 1.5rem 0;
    padding: .5rem 3.5rem .5rem 2rem;
    border-radius: .5rem 2rem 1rem ;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: rgb(0, 183, 0);
    cursor: pointer;
    transition: background-color ease-out .2s;
    user-select: none;
}

main .contact:hover {
    background-color: rgb(0, 116, 0);
}

main .contact img {
    position: absolute;
    bottom: -.5rem;
    right: -1.5rem;
    width: 4.5rem;
    border-radius: 50%;
    transition: transform ease-out .2s;
}

main .contact:hover img {
    box-shadow: 0 0 3px black;
    transform: rotate(15deg) scale(1.1);
    animation: zoom-rotate .5s;
}

@keyframes zoom-rotate {
    0% {
        transform: rotate(0deg) scale(1);
        box-shadow: 0 0 3px black;
    }
    30%,65% {
        transform: rotate(15deg) scale(1.1);
    }
    45% {
        transform: rotate(0deg) scale(1.1);
    }
    85% {
        transform: rotate(0deg) scale(1.1);
    }
    100% {
        transform: rotate(15deg) scale(1.1);
    }
}


@media screen and (max-width: 1023.9px) {
    header::after {
        /* content: ""; */
        position: absolute;
        bottom: 1rem;
        height: .25rem;
        width: 7rem;
        background-color: #FFF;
        border-radius: 6px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        display: flex;
        align-items: stretch;
        height: 100vh;
    }
    header {
        height: 100vh;
        /* width: 40%; - Desativado somente até o evento - Anderson.*/
        width: 100%;
        /* border-radius: 0 0 12% 0; - Desativado somente até o evento - Anderson.*/
    }

    main {
        width: 50%;
    }

    main .logo-company .logo {
        width: 500px;
    }

    main .contact {
        margin: 5rem 1.5rem 0;       
    }
    
}