    <%- include("../partials/head") %>
    <link rel="stylesheet" href="stylesheets/contact.css">
    <link rel="stylesheet" href="stylesheets/loader.css">
</head>

<body>

    <%- include("../partials/loader") %>
    
    <header>
        <div class="elipse"></div>
        <div class="content">
            <div class="title-page">
                <h1>Calculadora de<br>Economia Tributária</h1>
            </div>
            <h2>Passo 2</h2>
            <img src="images/lead.png" alt="pessoa preenchendo seus dados no notebook">
            <p>Falta pouco!</p>
            <p>Agora, precisamos de só mais alguns dados para liberar o seu acesso ao resultado dos cálculos.
                E mostrar a você quanto dinheiro pode ser retornado para seu caixa com a recuperação tributária.</p>
        </div>
    </header>

    <main>
        <div class="form-title">
            <h1>Dados pessoais do sócio:</h1>
            <span>Preencha os dados abaixo para calcularmos quanto você tem a receber do governo.</span>

        </div>
        
        <!-- <form action="resultado-%-regimeType%>" autocomplete="off" method="POST">    --- Deve aplicar a egine ejs para a action REGIMETYPE --> 
        <form action="resultado" autocomplete="off" method="POST">

            <div class="section-content">

                <div class="input-wrapper">
                    <label for="name">Nome</label>
                    <input id="name" type="text" name="name" placeholder="Preencha o nome completo" required>
                </div>
                
                <div class="input-wrapper">
                    <label for="email">E-mail</label>
                    <input id="email" type="email" name="email" placeholder="email@exemplo.com" required>
                </div>
                
                <div class="input-wrapper">
                    <label for="phone">Telefone</label>
                    <input id="phone" type="tel" name="phone" inputmode="numeric" placeholder="(11) 12345-6789" maxlength="15" required>
                </div>
                
                <div class="checkbox-wrapper">
                    <input type="checkbox" name="privacyPolicy" id="privacyPolicy" required>
                    <label for="privacyPolicy">
                        <div>
                            <p>Li e concordo com os termos de <a href="docs/Política_de_Segurança_e_Privacidade.docx_uk7nn2.pdf" target="_blank">Política de Privacidade</a></p>
                        </div>
                    </label>
                </div>
            </div>
            
            <button type="submit">Resultado</button>
    
        </form>
    </main>

    <script type="module" src="javascripts/contact.js"></script>
    <script src="javascripts/loaderInitial.js"></script>
</body>
</html>