    <%- include("../partials/head") %>
    <link rel="stylesheet" href="stylesheets/result.css">
    <link rel="stylesheet" href="stylesheets/loader.css">
</head>

<body>

    <%- include("../partials/loader") %>

    <header>
        <div class="content">
            <div>
                <div class="title-page">
                    <h1>Aqui está o resultado!</h1>
                </div>
                <div class="img-animation">
                    <img src="images/Moeda.png" alt="moedas">
                    <!-- <div class="shadow"></div> -->
                </div>
    
                <div class="result-content">
                    <div class="result-item">
                        <span>Crédito mensal</span>
                        <p><%- calculo.insumosMensal %></p>
                    </div>
                    <div class="result-item">
                        <span>Crédito Últimos 60 meses</span>
                        <p><%- calculo.insumosAnual %></p>
                    </div>
                </div>
                <p style="font-size: 14px;">Obs.: A oportunidade só é válida para empresas tributadas pelo Lucro Real.</p>
                <p>Pronto! Agora é só falar com nossos consultores.</p>
            </div>
            <div class="buttons">
                <a href="/">
                    <i class="ph ph-calculator"></i>
                    Calculadora
                </a>
                <a href="https://artefiscal.com.br/projeto-ecommerce/">
                    <i class="ph ph-headphones"></i>
                    Sorteio
                </a>
            </div>
        </div>
    </header>

    <script src="https://unpkg.com/@phosphor-icons/web@2.0.3"></script>
    <script src="javascripts/compoeValor.js"></script>
    <script src="javascripts/loaderInitial.js"></script>

</body>
</html>