    <%- include("../partials/head") %>
    <link rel="stylesheet" href="stylesheets/result.css">
    <link rel="stylesheet" href="stylesheets/loader.css">
</head>

<body>

    <%- include("../partials/loader") %>

    <header>
        <div class="content">
            <div>
                <div class="title-page">
                    <h1>Aqui está o resultado!</h1>
                </div>
                <div class="img-animation">
                    <img src="images/Moeda.png" alt="moedas">
                    <!-- <div class="shadow"></div> -->
                </div>
    
                <div class="result-content">
                    <div class="result-item">
                        <span>Crédito mensal</span>
                        <p><%- calculo.insumosMensal %></p>
                    </div>
                    <div class="result-item">
                        <span>Crédito Últimos 60 meses</span>
                        <p><%- calculo.insumosAnual %></p>
                    </div>
                </div>
                <p style="font-size: 14px;">Obs.: A oportunidade só é válida para empresas tributadas pelo Lucro Real.</p>
                <p>Pronto! Agora é só falar com nossos consultores.</p>
                <!-- <a href="https://www.google.com" class="sign-it" target="_blank">Quer fechar conosco? Clique aqui e assine agora!</a> -->
            </div>
            <div class="buttons">
                <a href="/">
                    <i class="ph ph-calculator"></i>
                    Calculadora
                </a>
                <a href="https://artefiscal.com.br/projeto-ecommerce/">
                    <i class="ph ph-headphones"></i>
                    Sorteio
                </a>
            </div>
        </div>
    </header>
    <!-- <main>
        <div class="logo-company">
            <img class="logo" src="images/Logo-Arte-FIscal.png" alt="logo da empresa">
        </div>
        <div class="main-content">
            <h1>Maravilha!</h1>
            <p>Agora você já sabe o quanto pode reduzir os impostos no mês.</br></br>
                Mas, é importante saber, o valor apurado está baseado nas informações que foram preenchidas, então é necessário validarmos esse valor para
                que você possa utilizar imediatamente sem nenhum risco ao seu negócio!</br></br>
                Não será necessária ingressar com nenhuma ação judicial, todo trabalho é realizado com base na legislação e nas obrigações que
                foram entregues ao fisco.</br></br>
                E o melhor de tudo, <span>você só paga a Arte Fiscal quando entregarmos o resultado para você!</span></br></br>
                Então, o próximo passo é só entrar em contato com a nossa equipe para validarmos se sua empresa está apta para reduzir os impostos mensais.
            </p> 
        </div>
        <a class="contact" href="http://api.whatsapp.com/send?1=pt_BR&phone=5511956092734" target="_blank">
            Quero falar com a equipe Arte Fiscal.
            <img src="images/whatsapp-icon.png" alt="Entrar em contato no WhatsApp">
        </a>

    </main> -->

    <!-- <script src="javascripts/smoothScrollDown.js"></script> -->
    <script src="https://unpkg.com/@phosphor-icons/web@2.0.3"></script>
    <script src="javascripts/compoeValor.js"></script>
    <script src="javascripts/loaderInitial.js"></script>

</body>
</html>